In [32]:
import pandas as pd
import numpy as np

data_16=pd.read_csv(r"/Users/prakashgupta/Euro-Cup-Prediction/FinalData/finaldata16.csv",error_bad_lines=False)
data_16.head()

,Unnamed: 0,id,Fullname,current_rating,potential_rating,height,weight,preferred_foot,birth_date,preferred_positions,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,nationality
0,237,17725,Aaron Hughes,70,70,183,70,Right,08/11/1979,CB,...,25,45,33,12,8,6,16,11,NaN,Northern Ireland
1,8583,186561,Aaron Ramsey,82,85,177,70,Right,26/12/1990,CM-CDM-RW,...,70,75,79,10,6,11,5,8,NaN,Wales
2,5891,180819,Adam Lallana,80,80,172,73,Right,10/05/1988,CAM-RW-LM,...,66,70,72,8,6,15,14,11,NaN,England
3,2983,223207,Ádám Lang,68,74,185,78,Right,17/01/1993,CB,...,50,56,30,9,6,9,13,16,NaN,Hungary
4,11133,230936,Ádám Nagy,68,79,175,70,Right,17/06/1995,CDM-RM,...,59,48,68,10,10,7,6,14,NaN,Hungary

In [90]:
copy_data=data_16.copy()

In [91]:
del copy_data["Unnamed: 0"]

In [92]:
del copy_data["id"]
del copy_data["preferred_foot"]
del copy_data["birth_date"]
del copy_data["preferred_positions"]
del copy_data["value"]
del copy_data["wage"]
del copy_data["gk_reflexes"]
del copy_data["gk_positioning"]

In [23]:
home=["France","Albania","Wales","England","Turkey","Poland","Germany","Spain","Ireland","Belgium","Austria"
,"Portugal","Russia","Romania","France","England","Ukraine","Germany","Italy","Czech_Republic","Spain","Belgium","Iceland","Portugal","Romania","Switzerland","Russia"
,"Slovakia","Ukraine","Northern_Ireland","Czech_Republic","Croatia","Iceland","Hungary","Italy","Sweden","Switzerland","Wales","Croatia","France"
,"Germany","Hungary","Italy","England","Poland","Wales","Germany","France","Portugal","Germany","Portugal"]

In [3]:
away=["Romania","Switzerland","Slovakia","Russia","Croatia","Northern_Ireland","Ukraine"
,"Czech_Republic","Sweden","Italy","Hungary","Iceland","Slovakia","Switzerland","Albania","Wales","Northern_Ireland","Poland"
,"Sweden","Croatia","Turkey","Ireland","Hungary","Austria","Albania","France","Wales","England","Poland"
,"Germany","Turkey","Spain","Austria","Portugal","Ireland","Belgium","Poland","Northern_Ireland","Portugal"
,"Ireland","Slovakia","Belgium","Spain","Iceland","Portugal","Belgium","Italy","Iceland","Wales","France","France"]

In [93]:
copy_data.columns

Index(['Fullname', 'current_rating', 'potential_rating', 'height', 'weight',
       'work_rate', 'weak_foot', 'skill_moves', 'ball_control', 'dribbling',
       'marking', 'slide_tackle', 'stand_tackle', 'aggression', 'reactions',
       'att_position', 'interceptions', 'vision', 'composure', 'crossing',
       'short_pass', 'long_pass', 'acceleration', 'stamina', 'strength',
       'balance', 'sprint_speed', 'agility', 'jumping', 'heading',
       'shot_power', 'finishing', 'long_shots', 'curve', 'fk_acc', 'penalties',
       'volleys', 'gk_diving', 'gk_handling', 'gk_kicking', 'nationality'],
      dtype='object')

In [94]:
copy_data.head()

,Fullname,current_rating,potential_rating,height,weight,work_rate,weak_foot,skill_moves,ball_control,dribbling,...,finishing,long_shots,curve,fk_acc,penalties,volleys,gk_diving,gk_handling,gk_kicking,nationality
0,Aaron Hughes,70,70,183,70,Medium / Medium,3,2,58,47,...,26,42,25,45,33,12,6,16,11,Northern Ireland
1,Aaron Ramsey,82,85,177,70,High / High,3,3,82,81,...,75,70,70,75,79,10,11,5,8,Wales
2,Adam Lallana,80,80,172,73,High / Medium,5,4,82,85,...,72,77,66,70,72,8,15,14,11,England
3,Ádám Lang,68,74,185,78,Medium / Medium,3,2,54,32,...,43,28,50,56,30,9,9,13,16,Hungary
4,Ádám Nagy,68,79,175,70,Medium / High,5,2,73,68,...,62,73,59,48,68,10,7,6,14,Hungary

In [95]:
del copy_data["Fullname"]
del copy_data["work_rate"]

In [96]:
new_copy=copy_data.copy()

In [97]:
type(new_copy)

pandas.core.frame.DataFrame

In [98]:
copy_data=copy_data.groupby(["nationality"]).mean()

In [52]:
y=new_copy["nationality"].sort_values()

In [55]:
y=y.unique()

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [79]:
copy_data=copy_data.drop([4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])

In [103]:
copy_data.head(-5)

,current_rating,potential_rating,height,weight,weak_foot,skill_moves,ball_control,dribbling,marking,slide_tackle,...,finishing,long_shots,curve,fk_acc,penalties,volleys,gk_diving,gk_handling,gk_kicking,nationality
nationality,,,,,,,,,,,,,,,,,,,,,
Albania,69.166667,72.333333,179.916667,75.000000,3.083333,2.166667,60.166667,55.083333,56.416667,57.000000,...,50.583333,47.916667,44.416667,50.833333,43.250000,17.416667,15.750000,15.666667,17.666667,Albania
Austria,74.333333,76.238095,185.238095,80.761905,3.238095,2.380952,63.523810,58.904762,51.666667,50.428571,...,55.571429,54.666667,53.238095,55.809524,52.571429,19.952381,18.190476,19.857143,19.333333,Austria
Belgium,79.727273,82.045455,184.727273,78.772727,3.409091,2.818182,70.727273,67.181818,48.181818,50.000000,...,64.454545,58.045455,55.318182,62.363636,58.818182,19.545455,19.590909,18.636364,20.772727,Belgium
Croatia,78.562500,80.687500,183.750000,77.062500,3.500000,2.875000,75.375000,70.687500,50.562500,55.062500,...,64.812500,66.062500,63.937500,65.312500,63.687500,14.625000,13.937500,14.937500,14.312500,Croatia
Czech Republic,73.761905,75.428571,184.190476,77.809524,3.000000,2.380952,65.571429,62.428571,44.142857,46.857143,...,57.285714,56.714286,56.666667,59.952381,55.523810,20.904762,19.238095,20.047619,20.333333,Czech Republic
England,78.833333,82.583333,183.041667,76.291667,3.125000,2.541667,69.375000,67.708333,53.666667,55.833333,...,61.375000,55.750000,50.708333,60.000000,54.541667,19.000000,19.750000,18.750000,19.375000,England
France,81.045455,83.090909,181.954545,77.136364,3.045455,2.500000,69.272727,65.272727,53.500000,56.181818,...,59.954545,59.136364,53.863636,56.545455,56.545455,18.863636,19.227273,17.727273,19.636364,France
Germany,81.652174,85.391304,185.956522,81.173913,3.565217,2.565217,70.826087,66.956522,48.391304,52.695652,...,59.086957,60.608696,53.130435,59.434783,58.826087,19.565217,19.695652,20.260870,20.217391,Germany
Hungary,70.238095,72.428571,184.238095,79.047619,3.380952,2.380952,63.000000,57.904762,47.714286,46.952381,...,51.333333,51.952381,47.666667,55.571429,49.428571,16.428571,16.285714,15.523810,16.285714,Hungary
Iceland,68.277778,70.722222,185.444444,79.166667,2.888889,1.944444,57.666667,52.833333,45.166667,47.555556,...,52.777778,48.888889,42.666667,51.055556,46.444444,19.388889,19.166667,18.888889,20.222222,Iceland
Italy,80.217391,81.826087,183.347826,77.608696,3.304348,2.478261,69.391304,65.782609,50.478261,54.565217,...,61.695652,60.434783,51.434783,58.347826,59.391304,17.826087,16.434783,16.739130,17.826087,Italy
Northern Ireland,68.476190,70.904762,181.428571,75.952381,3.142857,2.190476,62.142857,55.476190,51.476190,51.000000,...,46.761905,45.380952,43.809524,49.714286,46.095238,15.666667,15.619048,15.000000,17.142857,Northern Ireland
Poland,73.913043,76.304348,184.434783,78.521739,3.043478,2.217391,63.391304,60.347826,49.565217,50.217391,...,54.478261,52.782609,46.565217,51.260870,47.434783,19.304348,18.739130,17.782609,20.521739,Poland
Portugal,79.933333,82.933333,181.600000,77.200000,3.333333,2.533333,68.000000,64.333333,56.466667,55.800000,...,62.000000,57.733333,55.200000,54.666667,55.666667,25.400000,24.066667,23.533333,25.533333,Portugal
Republic of Ireland,74.086957,75.043478,182.391304,77.521739,3.043478,2.565217,65.739130,60.739130,53.565217,53.260870,...,53.043478,54.130435,48.739130,58.000000,53.130435,19.956522,19.391304,19.391304,19.956522,Republic of Ireland
Romania,72.764706,74.294118,181.764706,76.705882,3.117647,2.529412,62.176471,55.352941,45.235294,45.294118,...,56.529412,54.882353,52.235294,54.705882,51.058824,22.764706,21.352941,22.941176,21.941176,Romania
Russia,76.666667,77.111111,183.277778,77.333333,3.055556,2.333333,66.111111,61.111111,58.000000,56.277778,...,58.611111,55.166667,52.388889,56.166667,49.333333,21.555556,21.722222,21.277778,23.222222,Russia
Slovakia,74.222222,76.333333,185.222222,78.777778,3.444444,2.333333,66.000000,60.555556,60.111111,62.222222,...,52.888889,51.000000,44.555556,57.777778,53.555556,11.333333,9.888889,8.777778,11.333333,Slovakia
Spain,82.466667,84.133333,178.733333,72.733333,3.200000,3.000000,78.066667,72.533333,55.866667,58.200000,...,65.200000,70.266667,64.400000,62.866667,59.200000,14.200000,15.133333,13.800000,14.800000,Spain

In [102]:
copy_data["nationality"]=['Albania', 'Austria', 'Belgium', 'Croatia', 'Czech Republic', 'England',
 'France', 'Germany' ,'Hungary' ,'Iceland' ,'Italy' ,'Northern Ireland',
 'Poland', 'Portugal', 'Republic of Ireland','Romania', 'Russia' ,'Slovakia',
 'Spain' ,'Sweden' ,'Switzerland', 'Turkey' ,'Ukraine' ,'Wales']

In [104]:
copy_data.head()

,current_rating,potential_rating,height,weight,weak_foot,skill_moves,ball_control,dribbling,marking,slide_tackle,...,finishing,long_shots,curve,fk_acc,penalties,volleys,gk_diving,gk_handling,gk_kicking,nationality
nationality,,,,,,,,,,,,,,,,,,,,,
Albania,69.166667,72.333333,179.916667,75.000000,3.083333,2.166667,60.166667,55.083333,56.416667,57.000000,...,50.583333,47.916667,44.416667,50.833333,43.250000,17.416667,15.750000,15.666667,17.666667,Albania
Austria,74.333333,76.238095,185.238095,80.761905,3.238095,2.380952,63.523810,58.904762,51.666667,50.428571,...,55.571429,54.666667,53.238095,55.809524,52.571429,19.952381,18.190476,19.857143,19.333333,Austria
Belgium,79.727273,82.045455,184.727273,78.772727,3.409091,2.818182,70.727273,67.181818,48.181818,50.000000,...,64.454545,58.045455,55.318182,62.363636,58.818182,19.545455,19.590909,18.636364,20.772727,Belgium
Croatia,78.562500,80.687500,183.750000,77.062500,3.500000,2.875000,75.375000,70.687500,50.562500,55.062500,...,64.812500,66.062500,63.937500,65.312500,63.687500,14.625000,13.937500,14.937500,14.312500,Croatia
Czech Republic,73.761905,75.428571,184.190476,77.809524,3.000000,2.380952,65.571429,62.428571,44.142857,46.857143,...,57.285714,56.714286,56.666667,59.952381,55.523810,20.904762,19.238095,20.047619,20.333333,Czech Republic

In [105]:
column_team1=copy_data.copy()

In [106]:
column_team2=copy_data.copy()

In [119]:
column_team1.head()

,current_rating_1,potential_rating_1,height_1,weight_1,weak_foot_1,skill_moves_1,ball_control_1,dribbling_1,marking_1,slide_tackle_1,...,finishing_1,long_shots_1,curve_1,fk_acc_1,penalties_1,volleys_1,gk_diving_1,gk_handling_1,gk_kicking_1,nationality_1
nationality,,,,,,,,,,,,,,,,,,,,,
Albania,69.166667,72.333333,179.916667,75.000000,3.083333,2.166667,60.166667,55.083333,56.416667,57.000000,...,50.583333,47.916667,44.416667,50.833333,43.250000,17.416667,15.750000,15.666667,17.666667,Albania
Austria,74.333333,76.238095,185.238095,80.761905,3.238095,2.380952,63.523810,58.904762,51.666667,50.428571,...,55.571429,54.666667,53.238095,55.809524,52.571429,19.952381,18.190476,19.857143,19.333333,Austria
Belgium,79.727273,82.045455,184.727273,78.772727,3.409091,2.818182,70.727273,67.181818,48.181818,50.000000,...,64.454545,58.045455,55.318182,62.363636,58.818182,19.545455,19.590909,18.636364,20.772727,Belgium
Croatia,78.562500,80.687500,183.750000,77.062500,3.500000,2.875000,75.375000,70.687500,50.562500,55.062500,...,64.812500,66.062500,63.937500,65.312500,63.687500,14.625000,13.937500,14.937500,14.312500,Croatia
Czech Republic,73.761905,75.428571,184.190476,77.809524,3.000000,2.380952,65.571429,62.428571,44.142857,46.857143,...,57.285714,56.714286,56.666667,59.952381,55.523810,20.904762,19.238095,20.047619,20.333333,Czech Republic

In [111]:
column_team1=column_team1.add_suffix('_1')
column_team2=column_team2.add_suffix('_2')

In [112]:
Overall_team= pd.concat([column_team1,column_team2], axis=1)

In [113]:
Overall_team.head()

,current_rating_1,potential_rating_1,height_1,weight_1,weak_foot_1,skill_moves_1,ball_control_1,dribbling_1,marking_1,slide_tackle_1,...,finishing_2,long_shots_2,curve_2,fk_acc_2,penalties_2,volleys_2,gk_diving_2,gk_handling_2,gk_kicking_2,nationality_2
nationality,,,,,,,,,,,,,,,,,,,,,
Albania,69.166667,72.333333,179.916667,75.000000,3.083333,2.166667,60.166667,55.083333,56.416667,57.000000,...,50.583333,47.916667,44.416667,50.833333,43.250000,17.416667,15.750000,15.666667,17.666667,Albania
Austria,74.333333,76.238095,185.238095,80.761905,3.238095,2.380952,63.523810,58.904762,51.666667,50.428571,...,55.571429,54.666667,53.238095,55.809524,52.571429,19.952381,18.190476,19.857143,19.333333,Austria
Belgium,79.727273,82.045455,184.727273,78.772727,3.409091,2.818182,70.727273,67.181818,48.181818,50.000000,...,64.454545,58.045455,55.318182,62.363636,58.818182,19.545455,19.590909,18.636364,20.772727,Belgium
Croatia,78.562500,80.687500,183.750000,77.062500,3.500000,2.875000,75.375000,70.687500,50.562500,55.062500,...,64.812500,66.062500,63.937500,65.312500,63.687500,14.625000,13.937500,14.937500,14.312500,Croatia
Czech Republic,73.761905,75.428571,184.190476,77.809524,3.000000,2.380952,65.571429,62.428571,44.142857,46.857143,...,57.285714,56.714286,56.666667,59.952381,55.523810,20.904762,19.238095,20.047619,20.333333,Czech Republic

In [117]:
Overall_team=Overall_team[0:0]

In [118]:
Overall_team

Empty DataFrame
Columns: [current_rating_1, potential_rating_1, height_1, weight_1, weak_foot_1, skill_moves_1, ball_control_1, dribbling_1, marking_1, slide_tackle_1, stand_tackle_1, aggression_1, reactions_1, att_position_1, interceptions_1, vision_1, composure_1, crossing_1, short_pass_1, long_pass_1, acceleration_1, stamina_1, strength_1, balance_1, sprint_speed_1, agility_1, jumping_1, heading_1, shot_power_1, finishing_1, long_shots_1, curve_1, fk_acc_1, penalties_1, volleys_1, gk_diving_1, gk_handling_1, gk_kicking_1, nationality_1, current_rating_2, potential_rating_2, height_2, weight_2, weak_foot_2, skill_moves_2, ball_control_2, dribbling_2, marking_2, slide_tackle_2, stand_tackle_2, aggression_2, reactions_2, att_position_2, interceptions_2, vision_2, composure_2, crossing_2, short_pass_2, long_pass_2, acceleration_2, stamina_2, strength_2, balance_2, sprint_speed_2, agility_2, jumping_2, heading_2, shot_power_2, finishing_2, long_shots_2, curve_2, fk_acc_2, penalties_2, volleys_2, gk_diving_2, gk_handling_2, gk_kicking_2, nationality_2]
Index: []

[0 rows x 78 columns]

In [ ]:
for i in home:
    column_team1["Nationality"]==i
    Overall_team=Overall_team.append