In [4]:
import pandas as pd
player_16=pd.read_csv(r"/Users/prakashgupta/Euro-Cup-Prediction/FinalData/finaldata16.csv",error_bad_lines=False)
player_16.head()

,Unnamed: 0,id,Fullname,current_rating,potential_rating,height,weight,preferred_foot,birth_date,preferred_positions,...,curve,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,nationality
0,237,17725,Aaron Hughes,70,70,183,70,Right,08/11/1979,CB,...,25,45,33,12,8,6,16,11,NaN,Northern Ireland
1,8583,186561,Aaron Ramsey,82,85,177,70,Right,26/12/1990,CM-CDM-RW,...,70,75,79,10,6,11,5,8,NaN,Wales
2,5891,180819,Adam Lallana,80,80,172,73,Right,10/05/1988,CAM-RW-LM,...,66,70,72,8,6,15,14,11,NaN,England
3,2983,223207,Ádám Lang,68,74,185,78,Right,17/01/1993,CB,...,50,56,30,9,6,9,13,16,NaN,Hungary
4,11133,230936,Ádám Nagy,68,79,175,70,Right,17/06/1995,CDM-RM,...,59,48,68,10,10,7,6,14,NaN,Hungary

In [33]:
teams=pd.DataFrame()
teams['country'] =player_16["nationality"]
def  remove_columns(player_16):
    new_columns=player_16.copy()
    new_columns= new_columns.drop(['Unnamed: 0','id','Fullname','preferred_foot','birth_date',
                                   'preferred_positions','work_rate','weak_foot',
                                   'gk_reflexes','nationality','value','wage'], axis=1)
    return new_columns


def average_columns(new_columns):
    x

In [ ]:
columns.remove('id')
    columns.remove('Unnamed: 0')
    columns.remove('Fullname')
    columns.remove('preferred_foot')
    columns.remove('birth_date')
    columns.remove('preferred_positions')
    columns.remove('work_rate')
    columns.remove('weak_foot')
    columns.remove('gk_reflexes')
    columns.remove('nationality')
    columns.remove('value')
    columns.remove('wage')

In [6]:
x=list(player_16)

In [11]:
del x[0]

In [23]:
 r

Unnamed: 0               int64
id                       int64
Fullname                object
current_rating           int64
potential_rating         int64
height                   int64
weight                   int64
preferred_foot          object
birth_date              object
preferred_positions     object
work_rate               object
weak_foot                int64
skill_moves              int64
value                   object
wage                   float64
ball_control             int64
dribbling                int64
marking                  int64
slide_tackle             int64
stand_tackle             int64
aggression               int64
reactions                int64
att_position             int64
interceptions            int64
vision                   int64
composure                int64
crossing                 int64
short_pass               int64
long_pass                int64
acceleration             int64
stamina                  int64
strength                 int64
balance                  int64
sprint_speed             int64
agility                  int64
jumping                  int64
heading                  int64
shot_power               int64
finishing                int64
long_shots               int64
curve                    int64
fk_acc                   int64
penalties                int64
volleys                  int64
gk_positioning           int64
gk_diving                int64
gk_handling              int64
gk_kicking               int64
gk_reflexes            float64
nationality             object
dtype: object

In [16]:
player_16["value"].dtypes

dtype('O')

In [37]:
teams["country"]

0      Northern Ireland
1                 Wales
2               England
3               Hungary
4               Hungary
             ...
453             Austria
454             Hungary
455             Hungary
456              Poland
457              Poland
Name: country, Length: 458, dtype: object